<%= form_for [:admin, @app], :html => { :id => 'app-form' } do |f| %>

  <% if @app.errors.any? %>
  <div id="error_explanation" style="padding-bottom: 5px;">
    <h2 style="color: red;"><%= pluralize(@app.errors.count, "error") %> prohibited
      this app from being saved:</h2>
    <ul style="color: red;">

    <% @app.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>

    </ul>
  </div>
  <% end %>

  <div class="tabs" role="tablist">
    <ul>
      <li><a href="#" data-target="#general">1. Basic Info</a></li>
      <li><a href="#" data-target="#launch">2. App Launch</a></li>
      <li><a href="#" data-target="#privacy">3. Privacy Policy</a></li>
      <li><a href="#" data-target="#advanced">Advanced</a></li>
      <% if session_user.admin %>
        <li><a href="#" data-target="#review">*** App Review ***</a></li>
      <% end %>
    </ul>
  </div>


    <fieldset role="tab" id="general">

      <legend> App details </legend>

      <div class="form-field">
        <%= f.label :title, raw('App name <span class="required">(required)</span>') %>
        <%= f.text_field :title  %>
      </div>

      <div class="form-field">
        <%= f.label :description, raw('Description <span class="required">(required)</span>') %>
        <%= f.text_area :description,
                        :class => 'short' %>
      </div>

      <div class="form-field">
        <%= f.label :icon, raw('Icon <span class="required">(required)</span>'), for: 'app_icon-selector' %>
        <p> (Upload a 512x512 PNG) </p>
        <img src="" id="app_icon-upload-preview" style="margin: 10px 0;" alt="Placeholder for icon">
        <input type="file" id="app_icon-upload">
        <%= f.text_area :icon, style: 'display:none' %>
      </div>
      <br/>

      <legend>Primary Contact</legend>

      <div class="form-field">
        <%= f.label :support_contact_email, raw('Email <span class="required">(required)</span>') %>
        <%= f.text_field :support_contact_email %>
      </div>

    </fieldset>

    <fieldset role="tab" id="launch">
      <legend> How should we launch your app? </legend>

      <p>The App Catalog is used by a variety of platforms to display and launch Apps.
        In order for your App to launch properly, you need to provide a few additional details.
        If you have both an Android and iOS version of your app, please provide launch details for both
        Apps.</p>

      <div class="form-field">
        <%= f.label :title, raw('Provide an App launch method <span class="required">(required)</span>') %>
      </div>
      <br/>

      <fieldset>
        <legend> Web App </legend>
        <div class="form-field">
          <%= f.label :uri, raw('URL') %>
          <%= f.text_field :uri  %>
        </div>
      </fieldset>

      <fieldset>

        <legend>iOS App</legend>
        <div class="form-field">
          <%= f.label :ios_app_id, 'App ID', data: {help:'For iOS apps, the App ID can be found in iTunes Connect or in the URL for the App Store page (example: https://itunes.apple.com/us/app/apple-store/id1356392252)'} %>
          <%= f.text_field :ios_app_id %>
        </div>

        <div class="form-field">
          <%= f.label :ios_app_scheme, 'Custom URL Scheme', data: {help:'The custom URL scheme is set by the developer (example: edu.ucla.mobile)'} %>
          <%= f.text_field :ios_app_scheme %>
        </div>

      </fieldset>

      <fieldset>

        <legend>Android App</legend>
        <div class="form-field">
          <%= f.label :android_app_package, 'Android Package Name', data: {help:'Example: edu.ucla.mobile'} %>
          <%= f.text_field :android_app_package %>
        </div>

      </fieldset>

    </fieldset>

    <fieldset role="tab" id="privacy">

        <legend>Privacy Policy</legend>

        <p> For help creating a privacy policy you can use a <a href="https://privacypolicytemplate.net/" target="_blank"> privacy policy template generator </a>. </p>

        <div class="form-field">
          <%= f.label :title, raw('Choose where to host your privacy policy <span class="required">(required)</span>') %>
        </div>
        <br/>

        <div class="form-field" >
          <%= label_tag 'Host on App Catalog' %>
          <%= radio_button_tag :privacy_toggle, 'text' %>
          <%= label_tag 'External URL' %>
          <%= radio_button_tag :privacy_toggle, 'url' %>
        </div>


          <div class="form-field" id="privacy_field_url">
            <%= f.label :privacy_url, 'Paste URL for privacy policy:' %>
            <%= f.text_field :privacy_url %>
          </div>

          <div class="form-field" id="privacy_field_text">
            <%= f.label :privacy_text, 'Paste text of privacy policy directly into this field:' %>
            <%= f.text_area :privacy_text %>
            (A privacy policy page will be created for your app at apps.ucla.edu/apps/<b>[AppId]</b>/privacy)
          </div>

      </fieldset>

      <fieldset role="tab" id="advanced">

        <% if session_user.admin %>
            <legend>Enable App & Connect to other App Stores</legend>
            <div class="form-field">
              <p style="margin-top:0"><%= @app.sharing_preference %></p>
            </div>
            <fieldset class="form-fields">
              <legend>Enable App</legend>
              <div class="form-checkbox">
                <%= f.check_box :enabled %>
                <%= f.label :enabled, data: { help: 'When not checked, this app will not be shown to users or be shared with peers. Sharing must be disabled before this can be disabled.' } %>
              </div>
              <div class="form-checkbox">
                <%= f.check_box :share %>
                <%= f.label :share, data: { help: 'When checked, this app will be shared with peers. Propagation must be disabled before this can be disabled.' } %>
              </div>
              <div class="form-checkbox">
                <%= f.check_box :propagate %>
                <%= f.label :propagate, data: { help: 'When checked, this app will not only be shared with peers, but those peers may share it with their peers.' } %>
              </div>
            </fieldset>

            <fieldset>
              <legend>Default App</legend>
              <div class="form-checkbox">
                <input type="checkbox" id="enable_default_app_order" <%= (!@app.new_record? and @app.default_app_order) ? 'checked' : '' %>><label for="enable_default_app_order" data-help="Controls whether this app will show by default on the mobile dashboard."> Show by Default</label>
              </div>
              <div class="form-field"style="margin-top:6px;">
                <%= f.label :default_app_order, 'Default Position' 'data-help' => 'The order from top to bottom and left to right the app will appear in on the mobile dashboard.'%>
                <%= f.text_field :default_app_order %>
              </div>
            </fieldset>

            <fieldset>
              <legend> Custom peer access </legend>
              <p>This control lets you customize which connected App Stores will see this App. Connected App Stores (peers) can be managed under <%= link_to 'ADMIN > OUT PEERS', admin_out_peers_url, target: '_blank' %>.</p>
              <div class="form-checkbox">
                <%= f.check_box :restrict %>
                <%= f.label :restrict, 'Restrict Access to Specific Peers' %>
              </div>
              <div class="form-field" style="margin-top:12px;">
                <%= f.label :app_out_peer_permissions, 'Allowed Peers' %>
                <%= f.select :app_out_peer_permissions,
                             if(@out_peers)
                               options_for_select(@out_peers.map(){ |p| [p.name, p.id] }, @app.app_out_peer_permissions.map(){ |p| p.out_peer.id })
                             else
                                ''
                             end ,
                             {},
                             multiple: true %>
              </div>
            </fieldset>

            <legend>Official App</legend>
            <div class="form-checkbox">
              <%= f.check_box :official %>
              <%= f.label :official, 'Official App', 'data-help' => 'Official apps have a specialized icon on the store homepage. The official designation is included when this app is added to a Tool Consumer as an LTI tool.'%>
            </div>

        <% end %>

        <br/>
        <br/>

        <legend data-help="Check any of the licesing models below that the app supports.">App Licensing</legend>
        <fieldset>
          <div class="form-checkbox">
            <%= f.check_box :license_is_free %>
            <%= f.label :license_is_free, 'Free', data: { help: 'Check this box if the app has a free cost model.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_paid %>
            <%= f.label :license_is_paid, 'Paid', data: { help: 'Check this box if the app has a paid cost model.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_recharge %>
            <%= f.label :license_is_recharge, 'Recharge', data: { help: 'Check this box if the app uses an operational or departmental recharge cost model.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_by_seat %>
            <%= f.label :license_is_by_seat, 'By Seat', data: { help: 'Check this box if the app uses by-seat licensing. Details about different by-seat plans may be added to the License Text section below.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_subscription %>
            <%= f.label :license_is_subscription, 'Subscription', data: { help: 'Check this box if the app has a subscription-based cost model. Details about different subscription plans may be added to the License Text section below.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_ad_supported %>
            <%= f.label :license_is_ad_supported, 'Ad Supported', data: { help: 'Check this box if the app has an ad-supported cost model. Ad network or other ad details may be added to the License Text section below. Information about ads that set local cookies can be declared in the Security details for this app\'s configuration.' } %>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :license_is_other %>
            <%= f.label :license_is_other, 'Other', data: { help: 'Check this box if the app has a cost model that is not one of the models above. The License Text field below may be used to describe any other licensing details.' } %>
          </div>
        </fieldset>
        <div class="form-field">
          <%= f.label :license_text, raw('License Text') %>
          <%= f.text_area :license_text, style: 'height: 5em;' %>
        </div>

        <br/>
        <br/>

        <legend>Additional Details</legend>

        <fieldset class="form-fields" id="app_authors">
          <legend style="border:0;font-size:1em;font-weight:bold;">Author(s)</legend>
          <ul style="list-style:none;padding: 0 10px;"></ul>
          <button type="button" class="secondary">Add Author</button>
        </fieldset>
        <fieldset class="form-fields" id="app_organizations">
          <legend style="border:0;font-size:1em;font-weight:bold;">Organization(s)</legend>
          <ul style="list-style:none;padding: 0 10px;"></ul>
          <button type="button" class="secondary">Add Organization</button>
        </fieldset>
        <fieldset>
          <% if @categories %>
              <div class="form-field">
                <%= f.label :categories %>
                <%= f.select :categories, @categories.map(){ |c|
                                          [c.name, c.id, {:selected => @app.categories.include?(c)}]
                                        }, {}, {:multiple => true} %>
              </div>
          <% end %>
        </fieldset>
        <!-- <div class="form-field">
          <%= f.label :download_size, 'Download Size', data: { help: 'Free-form text that describes the size requirements for downloading and installing the app. E.g., "500KB", "10 Megabytes", "an e-book that requires downloads of large images".' } %>
          <%= f.text_field :download_size %>
        </div> -->
        <div class="form-field">
          <%= f.label :supported_languages, 'Supported Languages', data: { help: 'The languages supported by the app.' } %>
          <%= f.text_field :supported_languages %>
        </div>
        <!-- <div class="form-field">
          <%= f.label :app_competencies, 'Competencies (one word or phrase per line)', data: { help: 'Competencies or skills that may be learned by using the app.' } %>
          <%= f.text_area :app_competencies, value: @app.app_competencies.map(){ |t| t.name }.join("\n") %>
        </div> -->
        <div class="form-field">
          <%= f.label :app_tags, 'Tags (one per line)', data: { help: 'Flexible metadata values that may be assigned to apps to improve searchability.' } %>
          <%= f.text_area :app_tags, value: @app.app_tags.map(){ |t| t.name }.join("\n") %>
        </div>
        <!-- <div class="form-field">
          <%= f.label :app_features, 'Features (one word or phrase per line)', data: { help: 'Features that the app has, such as "discussion board" or "quizzes" or "interactive math problems".' } %>
          <%= f.text_area :app_features, value: @app.app_features.map(){ |t| t.feature_name }.join("\n") %>
        </div> -->

        <br/>
        <br/>

        <legend>Security</legend>
        <fieldset>
            <div class="form-checkbox">
                <%= f.check_box :security_uses_https %>
                <%= f.label :security_uses_https, 'Uses HTTPS for Network Encryption', data: { help: 'Check this box if an SSL certificate is used to secure network traffic to and from the app.' }%>
            </div>
            <div class="form-checkbox">
                <%= f.check_box :security_uses_additional_encryption %>
                <%= f.label :security_uses_additional_encryption, 'Uses Additional Methods of Encryption', data: { help: 'Check this box if additional methods of encryption are used, for example, if data is encrypted at rest.' }%>
            </div>
            <div class="form-checkbox">
                <%= f.check_box :security_requires_cookies %>
                <%= f.label :security_requires_cookies, 'Requires Cookies', data: { help: 'Check this box if the app requires cookies in order to function.' } %>
            </div>
            <div class="form-checkbox">
                <%= f.check_box :security_requires_third_party_cookies %>
                <%= f.label :security_requires_third_party_cookies, 'Requires Third-Party Cookies', data: { help: 'Check this box if the app requires third-party cookies in order to function.' } %>
            </div>
        </fieldset>
        <div class="form-field">
            <%= f.label :security_session_lifetime, 'Session Lifetime', data: { help: 'The amount of time a user has between interactions before their login session is ended.' } %>
            <%= f.text_field :security_session_lifetime %>
        </div>
        <div class="form-field">
            <%= f.label :security_cloud_vendor, 'Cloud Vendor', data: { help: 'If a cloud vendor is used, the vendor\'s name.' } %>
            <%= f.text_field :security_cloud_vendor %>
        </div>
        <div class="form-field">
            <%= f.label :security_policy_url, 'Security Policy URL', data: { help: 'A link to information about the app\'s security policy.' }%>
            <%= f.text_field :security_policy_url %>
        </div>
        <div class="form-field">
            <%= f.label :security_sla_url, 'Security SLA URL', data: { help: 'A link to information about the app\'s SLA (Service Level Agreement).' }%>
            <%= f.text_field :security_sla_url %>
        </div>
        <div class="form-field">
          <%= f.label :security_text, raw('Security Text'), data: { help: 'Free form text describing additional information about how the app handles security.' } %>
          <%= f.text_area :security_text, style: 'height: 5em;' %>
        </div>

        <!-- <legend>Interoperability</legend>

        <fieldset>
          <legend>LTI</legend>
          <p>IMS Global's <a href="http://www.imsglobal.org/toolsinteroperability2.cfm" target="_blank">Learning Tools Interoperability (LTI)</a> standard allows for interoperability between applications and consumers such as learning management systems. These properties allow the app store to push an app back to a learning management system with all the information necessary to set up the app as an LTI tool.</p>
          <div class="form-field">
            <%= f.label :lti, 'Supports LTI' %>
            <%= f.check_box :lti %>
          </div>
          <fieldset class="form-field" id="app_lti_configs">
            <ul style="list-style:none;padding: 0 10px;"></ul>
            <button type="button" class="secondary">Add LTI Configuration</button>
          </fieldset>
        </fieldset> -->

        <br/>
        <br/>

        <legend>Advanced Privacy Settings </legend>

        <fieldset>
          <legend>Student Data</legend>
          <div class="form-checkbox">
            <%= f.check_box :student_data_stores_local_data %>
            <%= f.label :student_data_stores_local_data, 'The app stores local data.', data: { help: 'Check this box if the app stores any local data about the student.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_stores_pii %>
            <%= f.label :student_data_stores_pii, 'The app stores personally identifying information (PII) about the student.', data: { help: 'Check this box if the app stores any PII regarding the student.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_requires_account %>
            <%= f.label :student_data_requires_account, 'The app requires the student to create an account.', data: { help: 'Check this box if the app requires the student to create an account.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_has_opt_out_for_data_collection %>
            <%= f.label :student_data_has_opt_out_for_data_collection, 'The app allows students to opt-out of data collection.', data: { help: 'Check this box if the student is given the option to opt-out of data collection.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_has_opt_in_for_data_collection %>
            <%= f.label :student_data_has_opt_in_for_data_collection, 'The app allows students to opt-in to data collection.', data: { help: 'Check this box if the student is given the option to opt-in to data collection.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_shows_eula %>
            <%= f.label :student_data_shows_eula, 'The app displays a EULA to students.', data: { help: 'Check this box if an End User License Agreement (EULA) is presented to the student.' }%>
          </div>
          <div class="form-checkbox">
            <%= f.check_box :student_data_is_app_externally_hosted %>
            <%= f.label :student_data_is_app_externally_hosted, 'The app is hosted outside of the institution.', data: { help: 'Check this box if the app is hosted externally.' }%>
          </div>
        </fieldset>

        <div class="form-field">
          <%= label_tag :privacy_enable, 'Privacy Matrix', data: { help: 'This privacy matrix is based on the Privacy Nutrition Label concept. Instead of the complex legalese of traditional privacy policies, it is intended to condense a privacy policy into a simple, understandable table.' } %>
          <%= check_box :privacy, 'enable' %>
        </div>
        <fieldset id="privacy-fields">
          <div class="fields-table">
            <table>
              <%
                 app_privacy_policy = @app.app_privacy_policy ? @app.app_privacy_policy : AppPrivacyPolicy.new
              %>
              <thead>
              <tr>
                <th class="row-heading">Type</th>
                <% AppPrivacyPolicy.types.each do |type, description| %>
                  <th data-help="<%= description.gsub /"/, '&quot;' %>"><%= type.capitalize %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <%= fields_for :app_privacy_policy do |privacy| %>
                <% AppPrivacyPolicy.classifications.each do |context, context_description| %>
                  <tr>
                    <td class="row-heading" <% if context_description -%>data-help="<%= context_description.gsub /"/, '&quot;' %>"<% end -%>><%= context.capitalize %></td>
                    <% AppPrivacyPolicy.types.each do |type, type_description| symbol = "#{context}_#{type}".to_sym %>
                      <td>
                        <%= privacy.label symbol, "Privacy of #{context} for #{type}", class: 'hide-accessible' %>
                        <%= privacy.select symbol,
                                           options_for_select([
                                                                  ['No', 'false'],
                                                                  ['Opt-out', '"optOut"'],
                                                                  ['Opt-in', '"optIn"'],
                                                                  ['Yes', 'true']
                                                              ], app_privacy_policy.send(symbol)) %>
                      </td>
                    <% end %>
                <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </fieldset>

      <!-- <legend>Accessibility</legend>

      <fieldset>
          <div class="form-field">
            <%= f.label :accessibility_url, 'Accessibility Policy URL', data: { help: 'This should be the URL to an accessibility policy for the app. Apps are more likely to be accepted if they have an accessibility policy because of legal requirements for universal access.' } %>
            <%= f.text_field :accessibility_url %>
          </div>
          <div class="form-field">
            <%= f.label :vpat_url, 'VPAT URL', data: { help: 'When one exists, this should be the URL to a filled out copy of the Voluntary Product Accessibility Template provided by the U.S. Department of State\'s Program for Accessible Computer/Communication Technology.' } %>
            <%= f.text_field :vpat_url %>
          </div>
          <div class="form-field">
            <%= f.label :wcag_url, 'WCAG URL', data: { help: 'When one exists, this should be the URL to a web page that describes how the app adheres to the W3C\'s Web Content Accessibilty Guidelines. The guideline information below should also be completed even if this URL exists.' } %>
            <%= f.text_field :wcag_url %>
          </div>
      </fieldset>
      <fieldset>
        <legend>WCAG 2.0 Guideline Adherence</legend>
        <p>In this section, the  <a href="http://www.w3.org/WAI/WCAG20/quickref/" target="_blank">WCAG 2.0 Guideline Success Criteria</a>
          that the app meets can be configured. Each of the twelve requirements has one or more success criteria that can optionally be selected for
          the app. Each requirement also allows a <code>conforming alternate version</code> to be declared in which case the app satisfies a given
          guideline by supplying both a non-conforming version and a way to access a <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html#uc-conforming-alt-versions-head">conforming alternate version</a>.</p>
        <fieldset>
          <div class="form-field">
            <%= label_tag :wcag_text_alternatives, '1.1 Text Alternatives'  %>
            <%= select_tag :wcag_text_alternatives,
                           options_for_select([[@app.wcag_success_critereon_string_for('1.1.1'), '1.1.1'], '1.1-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('1.1')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_time_based_media, '1.2 Time-Based Media' %>
            <%= select_tag :wcag_time_based_media,
                           options_for_select([[@app.wcag_success_critereon_string_for('1.2.1'),'1.2.1'],
                                               [@app.wcag_success_critereon_string_for('1.2.2'),'1.2.2'],
                                               [@app.wcag_success_critereon_string_for('1.2.3'),'1.2.3'],
                                               [@app.wcag_success_critereon_string_for('1.2.4'),'1.2.4'],
                                               [@app.wcag_success_critereon_string_for('1.2.5'),'1.2.5'],
                                               [@app.wcag_success_critereon_string_for('1.2.6'),'1.2.6'],
                                               [@app.wcag_success_critereon_string_for('1.2.7'),'1.2.7'],
                                               [@app.wcag_success_critereon_string_for('1.2.8'),'1.2.8'],
                                               [@app.wcag_success_critereon_string_for('1.2.9'),'1.2.9'],
                                               '1.2-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('1.2')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_adaptable, '1.3 Adaptable' %>
            <%= select_tag :wcag_adaptable,
                           options_for_select([[@app.wcag_success_critereon_string_for('1.3.1'),'1.3.1'],
                                               [@app.wcag_success_critereon_string_for('1.3.2'),'1.3.2'],
                                               [@app.wcag_success_critereon_string_for('1.3.3'),'1.3.3'],
                                               '1.3-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('1.3')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_distinguishable, '1.4 Distinguishable' %>
            <%= select_tag :wcag_distinguishable,
                           options_for_select([[@app.wcag_success_critereon_string_for('1.4.1'),'1.4.1'],
                                               [@app.wcag_success_critereon_string_for('1.4.2'),'1.4.2'],
                                               [@app.wcag_success_critereon_string_for('1.4.3'),'1.4.3'],
                                               [@app.wcag_success_critereon_string_for('1.4.4'),'1.4.4'],
                                               [@app.wcag_success_critereon_string_for('1.4.5'),'1.4.5'],
                                               [@app.wcag_success_critereon_string_for('1.4.6'),'1.4.6'],
                                               [@app.wcag_success_critereon_string_for('1.4.7'),'1.4.7'],
                                               [@app.wcag_success_critereon_string_for('1.4.8'),'1.4.8'],
                                               [@app.wcag_success_critereon_string_for('1.4.9'),'1.4.9'],
                                               '1.4-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('1.4')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_keyboard_accessible, '2.1 Keyboard Accessible' %>
            <%= select_tag :wcag_keyboard_accessible,
                           options_for_select([[@app.wcag_success_critereon_string_for('2.1.1'),'2.1.1'],
                                               [@app.wcag_success_critereon_string_for('2.1.2'),'2.1.2'],
                                               [@app.wcag_success_critereon_string_for('2.1.3'),'2.1.3'],
                                               '2.1-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('2.1')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_enough_time, '2.2 Enough Time' %>
            <%= select_tag :wcag_enough_time,
                           options_for_select([[@app.wcag_success_critereon_string_for('2.2.1'),'2.2.1'],
                                               [@app.wcag_success_critereon_string_for('2.2.2'),'2.2.2'],
                                               [@app.wcag_success_critereon_string_for('2.2.3'),'2.2.3'],
                                               [@app.wcag_success_critereon_string_for('2.2.4'),'2.2.4'],
                                               [@app.wcag_success_critereon_string_for('2.2.5'),'2.2.5'],
                                               '2.2-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('2.2')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_seizures, '2.3 Seizures' %>
            <%= select_tag :wcag_seizures,
                           options_for_select([[@app.wcag_success_critereon_string_for('2.3.1'),'2.3.1'],
                                               [@app.wcag_success_critereon_string_for('2.3.2'),'2.3.2'],
                                               '2.3-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('2.3')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_navigable, '2.4 Navigable' %>
            <%= select_tag :wcag_navigable,
                           options_for_select([[@app.wcag_success_critereon_string_for('2.4.1'),'2.4.1'],
                                               [@app.wcag_success_critereon_string_for('2.4.2'),'2.4.2'],
                                               [@app.wcag_success_critereon_string_for('2.4.3'),'2.4.3'],
                                               [@app.wcag_success_critereon_string_for('2.4.4'),'2.4.4'],
                                               [@app.wcag_success_critereon_string_for('2.4.5'),'2.4.5'],
                                               [@app.wcag_success_critereon_string_for('2.4.6'),'2.4.6'],
                                               [@app.wcag_success_critereon_string_for('2.4.7'),'2.4.7'],
                                               [@app.wcag_success_critereon_string_for('2.4.8'),'2.4.8'],
                                               [@app.wcag_success_critereon_string_for('2.4.9'),'2.4.9'],
                                               [@app.wcag_success_critereon_string_for('2.4.10'),'2.4.10'],
                                               '2.4-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('2.4')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_readable, '3.1 Readable' %>
            <%= select_tag :wcag_readable,
                           options_for_select([[@app.wcag_success_critereon_string_for('3.1.1'),'3.1.1'],
                                               [@app.wcag_success_critereon_string_for('3.1.2'),'3.1.2'],
                                               [@app.wcag_success_critereon_string_for('3.1.3'),'3.1.3'],
                                               [@app.wcag_success_critereon_string_for('3.1.4'),'3.1.4'],
                                               [@app.wcag_success_critereon_string_for('3.1.5'),'3.1.5'],
                                               [@app.wcag_success_critereon_string_for('3.1.6'),'3.1.6'],
                                               '3.1-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('3.1')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_predictable, '3.2 Predictable' %>
            <%= select_tag :wcag_predictable,
                           options_for_select([[@app.wcag_success_critereon_string_for('3.2.1'),'3.2.1'],
                                               [@app.wcag_success_critereon_string_for('3.2.2'),'3.2.2'],
                                               [@app.wcag_success_critereon_string_for('3.2.3'),'3.2.3'],
                                               [@app.wcag_success_critereon_string_for('3.2.4'),'3.2.4'],
                                               [@app.wcag_success_critereon_string_for('3.2.5'),'3.2.5'],
                                               '3.2-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('3.2')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_input_assistance, '3.3 Input Assistance' %>
            <%= select_tag :wcag_input_assistance,
                           options_for_select([[@app.wcag_success_critereon_string_for('3.3.1'),'3.3.1'],
                                               [@app.wcag_success_critereon_string_for('3.3.2'),'3.3.2'],
                                               [@app.wcag_success_critereon_string_for('3.3.3'),'3.3.3'],
                                               [@app.wcag_success_critereon_string_for('3.3.4'),'3.3.4'],
                                               [@app.wcag_success_critereon_string_for('3.3.5'),'3.3.5'],
                                               [@app.wcag_success_critereon_string_for('3.3.6'),'3.3.6'],
                                               '3.3-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('3.3')}), multiple: true %>
          </div>
          <div class="form-field">
            <%= label_tag :wcag_compatible, '4.1 Compatible' %>
            <%= select_tag :wcag_compatible,
                           options_for_select([[@app.wcag_success_critereon_string_for('4.1.1'),'4.1.1'],
                                               [@app.wcag_success_critereon_string_for('4.1.2'),'4.1.2'],
                                               '4.1-conforming-alternate-version'], @app.app_wcag_guidelines.map(){ |v| v.guideline if v.guideline.start_with?('4.1')}), multiple: true %>
          </div>
        </fieldset>
      </fieldset> -->

    </fieldset>

    <fieldset role="tab" id="review">

      <% if session_user.admin %>

            <legend>Privacy Review</legend>
            <div class="infobar-radios" style="margin-top:6px; align: left;">
              <table>
                <tbody>
                <tr>
                  <td>
                    <%= f.radio_button :privacy_review_status, App::RECOMMENDED_FOR_USE %>
                    <%= image_tag "infobar_check.png" %>
                    <%= f.label :privacy_review_status_recommended, "Recommended for use" %>
                  </td>
                  <td>
                    <%= f.radio_button :privacy_review_status, App::USE_WITH_CAUTION %>
                    <%= image_tag "infobar_use_with_caution.png" %>
                    <%= f.label :privacy_review_status_use_with_caution, "Use with caution" %>
                  </td>
                  <td>
                    <%= f.radio_button :privacy_review_status, App::NOT_RECOMMENDED %>
                    <%= image_tag "infobar_not_recommended.png" %>
                    <%= f.label :privacy_review_status_not_recommended, "Not recommended" %>
                  </td>
                  <td class="in_progress">
                    <%= f.radio_button :privacy_review_status, App::IN_PROGRESS %>
                    <%= image_tag "infobar_in_progress.png" %>
                    <%= f.label :privacy_review_status_in_progress, "In progress" %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <br/><br/>

            <legend>Accessibility Review</legend>
            <div class="infobar-radios" style="margin-top:6px; align: left;">
              <table>
                <tbody>
                <tr>
                  <td>
                    <%= f.radio_button :accessibility_review_status, App::RECOMMENDED_FOR_USE %>
                    <%= image_tag "infobar_check.png" %>
                    <%= f.label :accessibility_review_status_recommended, "Recommended for use" %>
                  </td>
                  <td>
                    <%= f.radio_button :accessibility_review_status, App::USE_WITH_CAUTION %>
                    <%= image_tag "infobar_use_with_caution.png" %>
                    <%= f.label :accessibility_review_status_use_with_caution, "Use with caution" %>
                  </td>
                  <td>
                    <%= f.radio_button :accessibility_review_status, App::NOT_RECOMMENDED %>
                    <%= image_tag "infobar_not_recommended.png" %>
                    <%= f.label :accessibility_review_status_not_recommended, "Not recommended" %>
                  </td>
                  <td class="in_progress">
                    <%= f.radio_button :accessibility_review_status, App::IN_PROGRESS %>
                    <%= image_tag "infobar_in_progress.png" %>
                    <%= f.label :accessibility_review_status_in_progress, "In progress" %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <br/><br/>

            <legend>Security Review</legend>
            <div class="infobar-radios" style="margin-top:6px; align: left;">
              <table>
                <tbody>
                <tr>
                  <td>
                    <%= f.radio_button :security_review_status, App::RECOMMENDED_FOR_USE %>
                    <%= image_tag "infobar_check.png" %>
                    <%= f.label :security_review_status_recommended, "Recommended for use" %>
                  </td>
                  <td>
                    <%= f.radio_button :security_review_status, App::USE_WITH_CAUTION %>
                    <%= image_tag "infobar_use_with_caution.png" %>
                    <%= f.label :security_review_status_use_with_caution, "Use with caution" %>
                  </td>
                  <td>
                    <%= f.radio_button :security_review_status, App::NOT_RECOMMENDED %>
                    <%= image_tag "infobar_not_recommended.png" %>
                    <%= f.label :security_review_status_not_recommended, "Not recommended" %>
                  </td>
                  <td class="in_progress">
                    <%= f.radio_button :security_review_status, App::IN_PROGRESS %>
                    <%= image_tag "infobar_in_progress.png" %>
                    <%= f.label :security_review_status_in_progress, "In progress" %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <br/><br/>

            <legend>Overall App Review</legend>
            <div class="infobar-radios" style="margin-top:6px; align: left;">
              <table>
                <tbody>
                <tr>
                  <td>
                    <%= f.radio_button :overall_review_status, App::RECOMMENDED_FOR_USE %>
                    <%= image_tag "infobar_check.png" %>
                    <%= f.label :overall_review_status_recommended, "Recommended for use" %>
                  </td>
                  <td>
                    <%= f.radio_button :overall_review_status, App::USE_WITH_CAUTION %>
                    <%= image_tag "infobar_use_with_caution.png" %>
                    <%= f.label :overall_review_status_use_with_caution, "Use with caution" %>
                  </td>
                  <td>
                    <%= f.radio_button :overall_review_status, App::NOT_RECOMMENDED %>
                    <%= image_tag "infobar_not_recommended.png" %>
                    <%= f.label :overall_review_status_not_recommended, "Not recommended" %>
                  </td>
                  <td class="in_progress">
                    <%= f.radio_button :overall_review_status, App::IN_PROGRESS %>
                    <%= image_tag "infobar_in_progress.png" %>
                    <%= f.label :overall_review_status_in_progress, "In progress" %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
      <% end %>

    </fieldset>


    <p class="text-center">
      <%= f.submit 'Save App' %>
      <%= link_to 'Back without Saving',
                  admin_apps_path,
                  :class => 'button tertiary text-center',
                  :role => 'button' %>
    </p>

<% end %>

<script type="text/javascript">

  (function(){
    $('#enable_default_app_order').change(function(){
      if($(this).is(':checked')){
        $('#app_default_app_order').prop('disabled', false).closest('.form-field').show();
      }else{
        $('#app_default_app_order').prop('disabled', true).closest('.form-field').hide();
      }
    }).change();
  })();

  (function(){
    $('#app_restrict').change(function(){
      if($(this).is(':checked')){
        $('#app_app_out_peer_permissions').prop('disabled', false).closest('.form-field').show();
      }else{
        $('#app_app_out_peer_permissions').prop('disabled', true).closest('.form-field').hide();
      }
    }).change();
  })();

  (function(){
    $('#app_restrict_launch').change(function(){
      if($(this).is(':checked')){
        $('#app_app_launch_methods').prop('disabled', false).closest('.form-field').show();
      }else{
        $('#app_app_launch_methods').prop('disabled', true).closest('.form-field').hide();
      }
    }).change();
  })();

  (function(){

    $('#app_icon-selector').change(function(){

      if($(this).val() == 'upload'){
        $('#app_icon-url').hide();
        $('#app_icon-upload').show();
        $('#app_icon-upload-preview').show();
      }else{
        $('#app_icon-url').show();
        $('#app_icon-upload').hide();
        $('#app_icon-upload-preview').hide();
      }

    });

    $('#app_icon-upload').change(function(){
      var file = this.files[0],
          reader = new FileReader;
      reader.onloadend = function(){
        $('#app_icon').val(reader.result)
        $('#app_icon-upload-preview').attr('src', reader.result);
      }
      if (file) {
        reader.readAsDataURL(file);
      }
    });

    $('#app_icon-url').change(function(){
      $('#app_icon').val($(this).val());
    });

    if($('#app_icon').val().indexOf('http') === 0){
      $('#app_icon-selector').val('url').change();
      $('#app_icon-url').val($('#app_icon').val());
    }else{
      $('#app_icon-selector').val('upload').change();
      $('#app_icon-upload-preview').attr('src', $('#app_icon').val());
    }

  })();

  (function(){

    $('[role="tab"]').hide();
    $('.tabs [data-target]').click(function(e){
      e.preventDefault();
      $(this).closest('.tabs').find('[data-target]').removeClass('active');
      $(this).addClass('active');
      var $target = $($(this).attr('data-target'));
      $('[role="tab"]').hide();
      $target.show();
    }).first().click();

  })();

  (function(){
    $('#app_propagate').change(function(){
      if($(this).is(':checked')) {
        $('#app_share').prop('checked', true).attr('disabled', true).change();
      }else{
        $('#app_share').attr('disabled', null);
      }
    }).change();
    $('#app-form').submit(function(e){
      $('#app_share').attr('disabled', null);
    });
  })();

  (function(){
    $('#app_share').change(function(){
      if($(this).is(':checked')) {
        $('#app_enabled').prop('checked', true).attr('disabled', true).change();
      }else{
        $('#app_enabled').attr('disabled', null);
      }
    }).change();
    $('#app-form').submit(function(e){
      $('#app_enabled').attr('disabled', null);
    });
  })();

  (function(){
    $('#app_lti').change(function(){
      if($(this).is(':checked')) {
        $(this).closest('.form-field').siblings('.form-field').show();
      }else{
        $(this).closest('.form-field').siblings('.form-field').hide();
      }
    }).change();
  })();

  (function(){
      $('#app_caliper').change(function(){
          if($(this).is(':checked')) {
              $(this).closest('.form-field').siblings('.form-field').show();
          }else{
              $(this).closest('.form-field').siblings('.form-field').hide();
          }
      }).change();
  })();

  //PRIVACY

  (function(){
    $('#privacy_enable').change(function(){
      if($(this).is(':checked')) {
        $('#privacy-fields').show();
      }else{
        $('#privacy-fields').hide();
      }
    }).change();
  })();

  // initialize privacy policy fields
  (function(){
    if ($('#app_privacy_url').val() != ""){
        console.log('tiny')
        $("#privacy_toggle_url").prop("checked", true);
        $('#app_privacy_text').val("")
        $('#privacy_field_url').show();
        $('#privacy_field_text').hide();
    } else if ($('#app_privacy_text').val() != ""){
        console.log('tiny')
        $("#privacy_toggle_text").prop("checked", true);
        $('#app_privacy_url').val("")
        $('#privacy_field_url').hide();
        $('#privacy_field_text').show();
    } else {
      $("#privacy_toggle_text").prop("checked", true);
      $('#privacy_field_url').hide();
      $('#privacy_field_text').show();
    }
  })();

  // toggle between privacy policy options
  (function(){
    $('#privacy_toggle_url').change(function(){
        $('#privacy_field_url').show();
        $('#privacy_field_text').hide();
    });
  })();

  (function(){
    $('#privacy_toggle_text').change(function(){
        $('#privacy_field_url').hide();
        $('#privacy_field_text').show();
    });
  })();

  // Delete entry for alternative privacy policy method
  (function(){
    $('#privacy_toggle_url').change(function(){
        $('#app_privacy_text').val("")
    });
  })();

  (function(){
    $('#privacy_toggle_text').change(function(){
        $('#app_privacy_url').val("")
    });
  })();


  (function(){
    $('.set-data-value-on-change select').change(function(){
      $(this).closest('.form-field').attr('data-value', $(this).val());
    }).change();
  })();

    (function(){

        var createAuthorField = function(data){

            var $li = $(document.createElement('li'))
                    .addClass('form-field')
                    .attr('style', 'border-left:3px solid #eee;padding-left:10px;margin-bottom:10px;')
                    .append('<label>Name</label><input type="text" class="input-name"'+(data&&data.name?(' value="'+data.name+'"'):'')+'><label>Email</label><input type="text" class="input-email"'+(data&&data.email?(' value="'+data.email+'"'):'')+'>'+(data&&data.id?('<input type="hidden" class="input-id" value="'+data.id+'">'):''));

            $(document.createElement('button')).text('Remove').addClass('danger').click(function(){$(this).closest('li').remove()}).appendTo($li);

            $('#app_authors > ul').append($li);
        }

        $.each(<%= raw @app.app_authors.to_json %>, function(idx, author){
            createAuthorField(author)
        })

        $('#app_authors > button').click(function(e){
            createAuthorField();
        })

        $('#app-form').submit(function(e){

            var data = [];
            $('#app_authors li').each(function(){
                var id = $(this).find('.input-id').val(),
                    name = $(this).find('.input-name').val(),
                    email = $(this).find('.input-email').val(),
                    dataElement = {}
                if(id && id.length) dataElement['id'] = id
                if(name && name.length) dataElement['name'] = name
                if(email && email.length) dataElement['email'] = email
                data.push(dataElement);
            })

            $(this).append($(document.createElement('textarea'))
                                .attr('name', 'app_authors')
                                .attr('style', 'display:none')
                                .val(JSON.stringify(data)));
        })

    })();

//////////////////////

    (function(){

        var createOrganizationField = function(data){

            var $li = $(document.createElement('li'))
                    .addClass('form-field')
                    .attr('style', 'border-left:3px solid #eee;padding-left:10px;margin-bottom:10px;')
                    .append('<label>Name</label><input type="text" class="input-name"'+(data&&data.name?(' value="'+data.name+'"'):'')+'><label>Website</label><input type="text" class="input-website"'+(data&&data.website?(' value="'+data.website+'"'):'')+'>'+(data&&data.id?('<input type="hidden" class="input-id" value="'+data.id+'">'):''));

            $(document.createElement('button')).text('Remove').addClass('danger').click(function(){$(this).closest('li').remove()}).appendTo($li);

            $('#app_organizations > ul').append($li);
        }

        $.each(<%= raw @app.app_organizations.to_json %>, function(idx, organization){
            createOrganizationField(organization)
        })

        $('#app_organizations > button').click(function(e){
            createOrganizationField();
        })

        $('#app-form').submit(function(e){

            var data = [];
            $('#app_organizations li').each(function(){
                var id = $(this).find('.input-id').val(),
                    name = $(this).find('.input-name').val(),
                    website = $(this).find('.input-website').val(),
                    dataElement = {}
                if(id && id.length) dataElement['id'] = id
                if(name && name.length) dataElement['name'] = name
                if(website && website.length) dataElement['website'] = website
                data.push(dataElement);
            })

            $(this).append($(document.createElement('textarea'))
                    .attr('name', 'app_organizations')
                    .attr('style', 'display:none')
                    .val(JSON.stringify(data)));
        })

    })();

  //////////////////////
  (function(){

      var createLtiFields = function(data){

          var $li = $(document.createElement('li'))
                  .addClass('form-field')
                  .attr('style', 'border-left:3px solid #eee;padding-left:10px;margin-bottom:10px;')
                  .append('<label data-help="The default LTI configuration is what will be used when adding this tool back to a TC when CASA on Rails itself is launched using LTI." style="color: black;">Set As Default Config</label><input type="checkbox" class="input-lti_default"'+(data&&data.lti_default?(' checked="'+(data.lti_default ? 'checked' : '')+'"'):'')+'>' +

                          '<label data-help="To restrict the use of this configuration to a particular LTI Consumer, choose one from this list. To add an LTI Consumer, navigate to Admin -> LTI Conusmers.">LTI Consumer</label>' +
                          '<select class="select-lti_consumer_id">' +
                            '<option value=""></option>' +
                            <% @lti_consumers.each do |c| %>
                              '<option value="<%= c.id %>"' +  ((data && data.lti_consumer_id && data.lti_consumer_id == '<%= c.id %>') ? ' selected' : '') + '><%= c.name %></option>' +
                            <% end %>
                          '</select>' +

                          '<label data-help="The launch URL to use for LTI 1.x launches. Required for LTI 1.x.">Launch URL</label><input type="text" class="input-lti_launch_url"'+(data&&data.lti_launch_url?(' value="'+data.lti_launch_url+'"'):'')+'>' +
                          '<label data-help="Optional. A URL for retrieving detailed XML Common Cartridge configuration.">Configuration URL</label><input type="text" class="input-lti_configuration_url"'+(data&&data.lti_configuration_url?(' value="'+data.lti_configuration_url+'"'):'')+'>' +
                          '<label data-help="The registration URL for LTI 2.0 launches. Required for LTI 2.0.">Registration URL</label><input type="text" class="input-lti_registration_url"'+(data&&data.lti_registration_url?(' value="'+data.lti_registration_url+'"'):'')+'>' +

                          '<label data-help="The LTI Version for this particular configuration. If no value is selected, 1.0 will be used.">Version</label>' +
                          '<select class="select-lti_version">' +
                            '<option value="1.0"' +  ((data && data.lti_version && data.lti_version == '1.0') ? ' selected' : '') + '>1.0</option>' +
                            '<option value="1.1"' +  ((data && data.lti_version && data.lti_version == '1.1') ?  ' selected' : '') + '>1.1</option>' +
                            '<option value="1.1.1"' +  ((data && data.lti_version && data.lti_version == '1.1.1') ?  ' selected' : '') + '>1.1.1</option>' +
                            '<option value="1.2"' +  ((data && data.lti_version && data.lti_version == '1.2') ?  ' selected' : '') + '>1.2</option>' +
                            '<option value="2.0"' +  ((data && data.lti_version && data.lti_version == '2.0') ?  ' selected' : '') + '>2.0</option>' +
                          '</select>' +

                          '<label data-help="Optional. The OAuth key the Tool Consumer will use when signing launches of this tool.">OAuth Key</label><input type="text" class="input-lti_oauth_consumer_key"'+(data&&data.lti_oauth_consumer_key?(' value="'+data.lti_oauth_consumer_key+'"'):'')+'>' +
                          '<label data-help="Optional. The OAuth secret the Tool Consumer will use when signing launches of this tool.">OAuth Secret</label><input type="text" class="input-lti_oauth_consumer_secret"'+(data&&data.lti_oauth_consumer_secret?(' value="'+data.lti_oauth_consumer_secret+'"'):'')+'>' +

                          '<label data-help="Optional. Whether this tool supports LTI 1.x Outcomes">LIS Outcomes</label>' +
                          '<select class="select-lti_lis_outcomes">' +
                            '<option value="no"' +  ((data && data.lti_lis_outcomes && data.lti_lis_outcomes == 'no') ? ' selected' : '') + '>No</option>' +
                            '<option value="optional"' +  ((data && data.lti_lis_outcomes && data.lti_lis_outcomes == 'optional') ?  ' selected' : '') + '>Optional</option>' +
                            '<option value="required"' +  ((data && data.lti_lis_outcomes && data.lti_lis_outcomes == 'required') ?  ' selected' : '') + '>Required</option>' +
                          '</select>' +

                          '<label data-help="Optional. The LTI launch parameters as an HTTP query string.">Launch Params</label><textarea style="height: 30em;" class="input-lti_launch_params">'+ (data && data.lti_launch_params ? data.lti_launch_params : '') +'</textarea>' +
                          '<label data-help="Optional. A JSON Object representing a Content-Item Message that a TC can use to embed this tool. If this value is set, it will override the default Content-Item functionality, which generates the JSON from the app\'s title, URL, Official designation, LTI Launch URL, OAuth key and secret, Registration URL, and LTI Consumer metadata for SSO and event data storage.">Content Item Message</label><textarea style="height: 30em;" class="input-lti_content_item_message">'+(data&&data.lti_content_item_message? data.lti_content_item_message :'') +'</textarea>' +
                          '<label>IMS Global Registration Number</label><input type="text" class="input-lti_ims_global_registration_number"'+(data&&data.lti_ims_global_registration_number?(' value="'+data.lti_ims_global_registration_number+'"'):'')+'>'  +
                          '<label>IMS Global Conformance Date</label><input type="text" class="input-lti_ims_global_conformance_date"'+(data&&data.lti_ims_global_conformance_date?(' value="'+data.lti_ims_global_conformance_date+'"'):'')+'>'  +
                          '<label>IMS Global Registration Link</label><input type="text" class="input-lti_ims_global_registration_link"'+(data&&data.lti_ims_global_registration_link?(' value="'+data.lti_ims_global_registration_link+'"'):'')+'>');

          $(document.createElement('button')).text('Remove').addClass('danger').click(function(){$(this).closest('li').remove()}).appendTo($li);

          $li.children('label[data-help]').each(function(){

              if(! data) { // Only invoke if we are creating a new empty form. If data is present, the version of this
                           // function in application.html.erb will be invoked.

                  $('<a>')
                          .attr('href', '#')
                          .addClass('mark')
                          .attr('data-help', $(this).attr('data-help'))
                          .html('(?)')
                          .click(function (e) {
                              e.preventDefault();
                              if ($(this).hasClass('clicked'))
                                  $(this).removeClass('clicked')
                              else {
                                  $('.mark.clicked').each(function () {
                                      $(this).removeClass('clicked');
                                  })
                                  $(this).addClass('clicked')
                              }
                          })
                          .appendTo(this);
              }
          });

          $('#app_lti_configs > ul').append($li);
      }

      $.each(<%= raw @app.app_lti_configs.to_json %>, function(idx, lti_config){
          createLtiFields(lti_config)
      })

      $('#app_lti_configs > button').click(function(e){
          createLtiFields();
      })

      $('#app-form').submit(function(e){
          var data = [];
          $('#app_lti_configs li').each(function(){
              var lti_default = $(this).find('.input-lti_default').is(':checked') ? 1 : 0,
                  lti_launch_url = $(this).find('.input-lti_launch_url').val(),
                  lti_configuration_url = $(this).find('.input-lti_configuration_url').val(),
                  lti_registration_url = $(this).find('.input-lti_registration_url').val(),
                  lti_consumer_id = $(this).find('.select-lti_consumer_id').val(),
                  lti_version = $(this).find('.select-lti_version').val(),
                  lti_oauth_consumer_key = $(this).find('.input-lti_oauth_consumer_key').val(),
                  lti_oauth_consumer_secret = $(this).find('.input-lti_oauth_consumer_secret').val(),
                  lti_lis_outcomes = $(this).find('.select-lti_lis_outcomes').val(),
                  lti_launch_params = $(this).find('.input-lti_launch_params').val(),
                  lti_content_item_message = $(this).find('.input-lti_content_item_message').val(),
                  lti_ims_global_registration_number = $(this).find('.input-lti_ims_global_registration_number').val(),
                  lti_ims_global_conformance_date = $(this).find('.input-lti_ims_global_conformance_date').val(),
                  lti_ims_global_registration_link = $(this).find('.input-lti_ims_global_registration_link').val(),
                  dataElement = {};

              dataElement['lti_default'] = lti_default;
              if(lti_launch_url && lti_launch_url.length) dataElement['lti_launch_url'] = lti_launch_url;
              if(lti_configuration_url && lti_configuration_url.length) dataElement['lti_configuration_url'] = lti_configuration_url;
              if(lti_registration_url && lti_registration_url.length) dataElement['lti_registration_url'] = lti_registration_url;
              if(lti_version && lti_version.length) dataElement['lti_version'] = lti_version;
              if(lti_consumer_id && lti_consumer_id.length) dataElement['lti_consumer_id'] = lti_consumer_id;
              if(lti_oauth_consumer_key && lti_oauth_consumer_key.length) dataElement['lti_oauth_consumer_key'] = lti_oauth_consumer_key;
              if(lti_oauth_consumer_secret && lti_oauth_consumer_secret.length) dataElement['lti_oauth_consumer_secret'] = lti_oauth_consumer_secret;
              if(lti_lis_outcomes && lti_lis_outcomes.length) dataElement['lti_lis_outcomes'] = lti_lis_outcomes;
              if(lti_launch_params && lti_launch_params.length) dataElement['lti_launch_params'] = lti_launch_params;
              if(lti_content_item_message && lti_content_item_message.length) dataElement['lti_content_item_message'] = lti_content_item_message;
              if(lti_ims_global_registration_number && lti_ims_global_registration_number.length) dataElement['lti_ims_global_registration_number'] = lti_ims_global_registration_number;
              if(lti_ims_global_conformance_date && lti_ims_global_conformance_date.length) dataElement['lti_ims_global_conformance_date'] = lti_ims_global_conformance_date;
              if(lti_ims_global_registration_link && lti_ims_global_registration_link.length) dataElement['lti_ims_global_registration_link'] = lti_ims_global_registration_link;
              data.push(dataElement);
          })

          $(this).append($(document.createElement('textarea'))
                  .attr('name', 'app_lti_configs')
                  .attr('style', 'display:none')
                  .val(JSON.stringify(data)));
      })

  })();


</script>
