<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= (@site.mobile_title and @site.mobile_title.length > 0) ? @site.mobile_title : 'CASA Mobile' %></title>
  <link rel="stylesheet" href="/mobile/assets/blocks.css">
  <script type="text/javascript" src="/mobile/assets/blocks.js"></script>
  <link rel="stylesheet" href="/mobile/assets/jquery-ui.css">
  <script type="text/javascript" src="/mobile/assets/jquery-ui.js"></script>
  <script type="text/javascript" src="/mobile/assets/jquery-ui-touch_punch.js"></script>
  <script type="text/javascript" src="/mobile/assets/ios-html5-drag-drop-shim.js"></script>
  <% if @site.mobile_appicon and @site.mobile_appicon.length > 0 %>
  <link rel="apple-touch-icon" href="<%= @site.mobile_appicon %>">
  <link rel="apple-touch-icon-precomposed" href="<%= @site.mobile_appicon %>">
  <% end %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      .privacy-block {
        background-color: #FFFFFF;
        padding-top: 5%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 2%;
      }
      .question-block {
        background-color: #F0F0F0;
        padding: 0px;
        padding-top: 1px;
      }
      .question-text {
        margin-top: 0%;
        margin-right: 1%;
        margin-left: 0%;
        margin-bottom: 1%;
        font-weight: bold;
        padding-left: 2px;
        //padding-top: 1px;
      }
      .answer-text {
        background-color: #FCFCFC;
      }
      .small-indent {
        text-indent: 8px;
      }
      .small-indent-bottom {
        text-indent: 8px;
        margin-bottom: 0px;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: #f3f3f3;
      }
      body > header {
        background-color: #fff;
        margin: 0;
        padding: 12px;
        position: relative;
      }
      body > header > h1 {
        font-size: 24px;
      }
      body > header h1 a {
        color: #000;
      }
      body > header a img {
        height: 24px;
      }
      body > header .add-button {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bold;
      }
      body > header .add-button a {
        padding: 3px 15px;
        display: inline-block;
      }
      main ul {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
      footer {
        padding: 20px;
      }
      .button {
        border: 1px solid #ccc;
        padding: 6px 12px;
        background-color: #fbfbfb;
        font-weight: bold;
        font-size: 13px;
      }
      [draggable] {
        cursor: move;
        -khtml-user-drag: element;
        -webkit-user-drag: element;
      }
      [draggable] a {
        cursor: move;
      }
      a {
        color: #00b3ee;
      }
      main img {
        pointer-events: none; /* don't let image be dragged independently */
      }
      ul, li {
        border: #ddd solid;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-width: 1px 0 0 1px;
      }
      li {
        display: inline-block;
        background-color: #fff;
        border-width: 0 1px 1px 0;
        padding: 6px 12px;
        text-align: center;
        position: relative;
      }
      li.being-dragged {
        opacity: 0.6;
      }

      .delete-button {
        display: none;
      }

      [data-deletable="true"] .delete-button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        line-height: 24px;
        padding: 0;
        font-weight: bold;
        color: #fff;
        background-color: #55b3ee;
        /*background-color: rgba(0,0,0,0.6);*/
        border-color: #eee;
        border-width: 0 0 1px 1px;
        vertical-align: middle;
        text-align: center;
      }

      .image-container {
        max-width: 100%;
        height: 60px;
        overflow: hidden;
        margin: auto;
        vertical-align: middle;
        margin-bottom: 6px;
      }

      /* forces to inline block */
      .image-container:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img, .letter-icon {
        margin: 10px auto;
        max-width: 46px;
        max-height: 46px;
      }

      .letter-icon span {
        display: inline-block;
        font-size: 24px;
        margin-top: 3px;
        height: 41px;
        width: 41px;
        line-height: 41px;
        border-radius: 6px;
        color: rgba(0,0,0,0.5);
        background-color: #ccc;
      }

      figcaption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 10px;
      }

      .when-editing {
        display: none;
      }

      .editing-apps .when-editing {
        display: block;
      }

      .editing-apps .when-not-editing {
        display: none;
      }

      a {
        text-decoration: none;
      }

      @media (max-width: 160px){
        li {
          width: 50%;
        }
      }
      @media (max-width: 280px) and (min-width: 161px){
        li {
          width: 50%;
        }
      }
      @media (max-width: 460px) and (min-width: 281px) {
        li {
          width: 33.3333333%;
        }
      }
      @media (max-width: 640px) and (min-width: 461px){
        li {
          width: 25%;
        }
      }
      @media (max-width: 800px) and (min-width: 641px){
        li {
          width: 20%;
        }
      }
      @media (max-width: 960px) and (min-width: 801px){
        li {
          width: 16.666666%;
        }
      }
      @media (max-width: 1160px) and (min-width: 961px){
        li {
          width: 14.28571%;
        }
      }
      @media (max-width: 1280px) and (min-width: 1161px){
        li {
          width: 12.5%;
        }
      }
      @media (max-width: 1400px) and (min-width: 1281px){
        li {
          width: 12.5%;
        }
      }
      @media (max-width: 1400px) and (min-width: 1281px){
        li {
          width: 11.1111111%;
        }
      }
      @media (max-width: 1600px) and (min-width: 1401px){
        li {
          width: 10%;
        }
      }
      @media (max-width: 2000px) and (min-width: 1601px){
        li {
          width: 9.090909%;
        }
      }
      @media (min-width: 2001px){
        li {
          width: 8.3333333%;
        }
      }
  </style>
</head>

<body class="mobile">

<header style="min-height: 40px;">
  <nav class="add-button">
    <a href="<%= mobile_launch_url %>" style="font-size: 28px;">
      +
    </a>
  </nav>
  <%= raw((@site.mobile_heading and @site.mobile_heading.length > 0) ? @site.mobile_heading : "<h1><a href=\"#{mobile_url}\">#{@site.mobile_title and @site.mobile_title.length > 0 ? @site.mobile_title : 'CASA Mobile'}</a></h1>") %>

</header>

<main>
    <div class="privacy-block">
      <div class="question-block">
        <div class="question-text">What information do we collect?</div>
        <div class="answer-text"><p class="small-indent">We do not collect user specific information about the personalized use of the Mobile Dashboard, nor do we collect information about data searches.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">What do we use your information for?</div>
        <div class="answer-text"><p class="small-indent">This information is used to "personalize" your experience using this app.  It is also used to improve your user experience.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">Do we disclose any information to outside parties?</div>
        <div class="answer-text"><p class="small-indent">No.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">California Online Privacy Protection Act Compliance</div>
        <div class="answer-text"><p class="small-indent">We are in compliance with the California Online Privacy Protection Act Compliance, therefore we do not distribute any of your data to any third party users.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">Children’s Online Privacy Protection Act Compliance</div>
        <div class="answer-text"><p class="small-indent">We are in compliance with the Children’s Online Privacy Protection Act (COPPA); therefore we do not collect data from anyone including those under the age of 13.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">Your Consent</div>
        <div class="answer-text"><p class="small-indent">By using this app, you consent to our privacy policy.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">Changes to our Privacy Policy</div>
        <div class="answer-text"><p class="small-indent">If we decide to change our privacy policy, we will post the changes at this location, and we will note the date it was last modified.</p><p class="small-indent">This policy was last modified on 12/16/2015.</p></div>
      </div>
      <div class="question-block">
        <div class="question-text">Contacting Us</div>
        <div class="answer-text"><p class="small-indent-bottom">If you have any questions regarding this privacy policy, please send them to this email address: uclamobile@oit.ucla.edu.</p></div>
      </div>
    </div>
</main>

<footer>
  <div id="footer">
    <%= raw((@site.mobile_footer and @site.mobile_footer.length > 0) ? @site.mobile_footer : '') %>
  </div>
</footer>

</body>

</html>