<% @collections.each do |collection| %>

  <nav class="limited collection">
    <header>
      <h3><%= link_to collection.name, collection %></h3>
      <%= link_to raw('See More &rarr;'), collection, role: 'button', class: 'see-more' %>
    </header>
    <ul class="clearfix list-unstyled">
      <% collection.apps.where(enabled: true).available_to_launch_method(launch_provider.get).take(9).each do |app| %><li class="<% if app.official %>official<% end %>">
          <a href="<%= url_for app %>">
            <figure>
              <%= app.icon_tag %>
              <figcaption>
                <h4><%= app.title %></h4>
                <p><%= app.short_description %></p>
                <div class="stars">
                  <% unless app.average_rating.nan? %>
                    <span class="filled"><%= raw (1..app.average_rating.round(0)).map { '&#9733;' }.join ' ' %></span>
                    <span class="unfilled"><%= raw (app.average_rating.round(0)+1..5).map { '&#9734;' }.join ' ' %></span>
                  <% else %>
                    <span class="none"><%= raw (1..5).map { '&#9734;' }.join ' ' %></span>
                  <% end %>
                </div>
              </figcaption>
            </figure>
          </a>
        </li><% end %>
    </ul>
  </nav>

<% end %>