<h1>Search Results</h1>

<nav class="collection right-space">
  <ul class="clearfix list-unstyled">
    <% @apps.where(enabled: true).each do |app| %>
      <li <% if app.official %>class="official"<% end %>>
        <a href="<%= url_for app %>">
          <figure>
            <%= app.icon_tag %>
            <figcaption>
              <h4><%= app.title %></h4>
              <p><%= app.description %></p>
              <div class="stars">
                <% unless app.average_rating.nan? %>
                  <span class="filled"><%= raw (1..app.average_rating.round(0)).map { '&#9733;' }.join ' ' %></span>
                  <span class="unfilled"><%= raw (app.average_rating.round(0)+1..5).map { '&#9734;' }.join ' ' %></span>
                <% else %>
                  <span class="none"><%= raw (1..5).map { '&#9734;' }.join ' ' %></span>
                <% end %>
              </div>
            </figcaption>
          </figure>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
