<article class="app panels">
<main>
  <section>

    <section class="group-padding app-top">
        <figure>
          <%= @app.icon_tag %>
        </figure>

      <section>
        <% if session_user and session_user.admin %>
            <nav>
              <%= link_to 'Edit', edit_admin_app_url(@app), class: 'button warning' %>
              <%= link_to 'Destroy', admin_app_path(@app),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete this app?" },
                          class: 'button danger' %>
            </nav>
        <% end %>
      </section>

    </section>

    <section class="group-padding">

      <h1 style="margin: 0;"><%= @app.title %></h1>

      <% if @app.categories.count > 0 %>
      <div class="attribute">
        <h4>Store Categories</h4>
        <p><%= raw @app.categories.map(){ |c| link_to c.name, c }.join(', ') %></p>
      </div>
    <% end %>

    <% if @app.app_tags.count > 0 %>
      <div class="attribute">
        <h4>Tags</h4>
        <p><%= raw @app.app_tags.map(){ |t| t.name }.join(', ') %></p>
      </div>
    <% end %>
      <section>
      <% if @app.app_competencies.count > 0 %>
          <div class="attribute">
            <h4>Competencies</h4>
            <p><%= raw @app.app_competencies.map(){ |c| c.name }.join(', ') %></p>
          </div>
      <% end %>

      <% if @app.app_features.count > 0 %>
          <div class="attribute">
            <h4>Features</h4>
            <p><%= raw @app.app_features.map(){ |f| f.feature_name }.join(', ') %></p>
          </div>
      <% end %>
      </section>
      <section class="badges">
        <% if @app.official %><section style="vertical-align: top; padding-right: 0px;"><%= image_tag "official-app.png" %></section><% end %>
        <% if @app.mobile_support %><span class="badge mobile-support"></span><% end %>
      </section>

    </section>

  <section class="ratings" style="vertical-align: top;">
    <% if @app.app_ratings.count > 0 %>
        <section class="average">
          <h5><%= @app.average_rating.round(1) %></h5>
          <% average_rating = @app.average_rating.round(0).to_i %>
          <span class="stars">
            <span class="filled"><%= raw (1..average_rating).map { '&#9733;' }.join ' ' %></span>
            <span class="unfilled"><%= raw (average_rating+1..5).map { '&#9734;' }.join ' ' %></span>
          </span>
          <div>
              <span style="font-size: 12px;">
              <%= image_tag 'users.png', size: "10x10"%>
                <%= @app.app_ratings.count %> total
              </span>
          </div>
        </section>
    <% else %>
        <section class="average">
          <span class="stars">
            <span class="unfilled"><%= raw (1..5).map { '&#9734;' }.join ' ' %></span>
          </span>
          <div>
              <span style="font-size: 12px;">
              <%= image_tag 'users.png', size: "10x10"%>
                0 total
              </span>
          </div>
        </section>
    <% end %>

    <nav>
      <a href="<%= @button[:url] %>" class="button"><%= @button[:text] %></a>
    </nav>
  </section>

  </section>

  <div class="infobar">

    <table style="width:100%">
      <tbody>
          <tr>
            <th>Support</th>
            <th>Accessibility</th>
            <th>Privacy</th>
            <th>Security</th>
            <th>Mobile Friendly</th>
            <th>Supports LTI®</th>
            <th style="border-right: 0px;">Supports Caliper™</th>
          </tr>

          <tr>
            <td><% if @app.support_contact_name or @app.support_contact_email %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
            <td><% if @app.vpat_url or @app.accessibility_url or @app.wcag_url or @app.app_wcag_guidelines.count > 0 %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
            <td><% if @app.privacy_url or @app.app_privacy_policy_id %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
            <td><% if @app.has_security_properties_set? %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
            <td><% if @app.mobile_support %><%= image_tag "web.png" %><% end %><% if @app.ios_app_id %><%= image_tag "apple.png" %><% end %><% if @app.android_app_package %><%= image_tag "android.png" %><% end %>
              <% if ! @app.android_app_package and ! @app.ios_app_id and ! @app.mobile_support %><%= image_tag "dash.png" %><% end %></td>
            <td><% if @app.lti %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
            <td style="border-right: 0px;"><% if @app.caliper %><%= image_tag "check.png" %><% else %><%= image_tag "dash.png" %><% end %></td>
          </tr>

      </tbody>
    </table>

  </div>

  <div class="description">
    <div class="line"></div>
    <h1>Description</h1>

    <% if @app.description %>

      <%
         description = @app.formatted_description.to_s
         # Count the number of paragraphs.
         # If there are fewer than two, do nothing.
         # Else, insert the "read more" HTML.
        number_of_paragraphs = description.scan('<p>').count
        if(number_of_paragraphs <= 2)
      %>
      <%= @app.formatted_description %>
      <%
         else
           positions = []
           pos = -1

           while (pos = description.index('</p>', pos + 1))
             positions << pos
           end
       %>

        <%
           # The string manipulation below relies on the use of the Rails formatted_description method
           # 1. Wrap the first two paragraphs in a div with an expandable span.
           part1 = '<div><input type="checkbox" class="read-more-state" id="post-1" /><div class="read-more-wrap">' + description[0..positions[1]-1] + '</p><span class="read-more-target">'
           # 2. Include any additional paragraphs from the description.
           part2 = description[positions[1]..-5]
           # 3. Finish up with the HTML controls.
           part3 = '</span></div><label for="post-1" class="read-more-trigger"></label></div>'
        %>

        <%= part1.html_safe %>
        <%= part2.html_safe %>
        <%= part3.html_safe %>
        <% end %>


    <% elsif @app.short_description %>
      <%= simple_format @app.short_description %>
    <% end %>

    </div>

  <% if session_user or @app.app_ratings.count > 0 %>

  <div class="description ratings">

    <div class="line"></div>

    <h1>Reviews</h1>

    <% if @app.app_ratings.count > 0 %>

      <%
         scores = Array.new(5, 0)
         @app.app_ratings.each { |rating| scores[rating.score - 1] = scores[rating.score - 1] + 1 }
         number_of_ratings = @app.app_ratings.count
      %>

      <section class="score">

        <div class="score-container">
          <h5><%= @app.average_rating.round(1) %></h5>
          <div class="average">
            <% average_rating = @app.average_rating.round(0).to_i %>
            <span class="stars">
            <span class="filled"><%= raw (1..average_rating).map { '&#9733;' }.join ' ' %></span>
            <span class="unfilled"><%= raw (average_rating+1..5).map { '&#9734;' }.join ' ' %></span>
          </span>
            <div>
              <span style="font-size: 12px;">
              <%= image_tag 'users.png', size: "10x10"%>
                <%= number_of_ratings %> total
              </span>
            </div>
          </div>
        </div>

        <div class="rating-histogram">
          <% scores.each { |score| %>
          <div class="score-bar">&#9733; 5 <div class="bar" style="width: <%= score == 0 ? 1 : ((score.to_f / number_of_ratings.to_f) * 100) %>%"><%= score %></div></div>
          <% } %>
        </div>

      </section>

      <ul class="latest reviews">
        <% @app.app_ratings.where.not(user_id: session_user ? session_user : 0).where.not(review: nil).order(created_at: :desc).take(5).each do |rating| %>
          <li>
            <h4>
              <span class="stars">
                <span class="filled"><%= raw (1..rating.score).map { '&#9733;' }.join ' ' %></span>
                <span class="unfilled"><%= raw (rating.score+1..5).map { '&#9734;' }.join ' ' %></span>
              </span>
              by <%= rating.user.display_name %>
              on <%= rating.created_at.strftime('%a %b %d, %Y') %>
              <% if session_user and session_user.admin %>
                <%= link_to '(delete)', app_rating_url(@app, rating),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
              <% end %>
            </h4>
            <%= simple_format rating.review %>
          </li>
        <% end %>
      </ul>

    <% end %>

        <% if session_user %>
          <%= form_for AppRating.new(app_id: @app.id) do |f| %>
            <fieldset>
            <legend><%= @app_rating.new_record? ? 'Submit a Review' : 'Update Your Review' %></legend>


              <div class="stars">
                <% (1..5).each do |i| %>
                  <%= f.radio_button :score, i, checked: (i == (@app_rating.new_record? ? 3 : @app_rating.score) ? true : false) %>
                  <label for="app_rating_<%="score_#{i}" %>">&#9734;</label>
                <% end %>
              </div>

              <div class="form-field">
                <%= f.text_area :review, style: 'width:100%;height:8rem;', value: @app_rating.review %>
              </div>
              <p class="help-text">by <strong><%= session_user.display_name %></strong> on <strong><%= Time.now.strftime('%a %b %d, %Y') %></strong></p>
              <%= f.submit 'Submit Review', class: 'primary button' %>
              <% unless @app_rating.new_record? %>
                <%= link_to 'Delete Review', app_rating_url(@app, @app_rating),
                            method: :delete,
                            class: 'button danger',
                            data: { confirm: 'Are you sure?' } %>
              <% end %>
            </fieldset>
          <% end %>
        <% end %>

      </div>

      <% end %>

  <div class="description">

    <div class="line"></div>

    <h1>Additional Information</h1>


    <% if @app.app_privacy_policy or @app.privacy_url %>
      <section>
        <h3>Privacy Policy</h3>
        <% if @app.app_privacy_policy %>
          <div style="overflow:auto;width:100%">
          <table class="privacy-nutrition-label">
            <thead>
            <tr>
              <th>Type</th>
              <% AppPrivacyPolicy.types.each do |type, description| %>
                <th><%= type.capitalize %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
              <% AppPrivacyPolicy.classifications.each do |context, context_description| %>
                <tr>
                  <td class="row-heading"><%= context.capitalize %></td>
                  <% AppPrivacyPolicy.types.each do |type, type_description| symbol = "#{context}_#{type}".to_sym %>
                  <%=
                      value = @app.app_privacy_policy.send(symbol)
                      if value == 'true'
                        raw '<td class="yes">Yes</td>'
                      elsif value == 'false'
                        raw '<td class="no">No</td>'
                      elsif value == '"optIn"'
                        raw '<td class="optIn">Opt-in</td>'
                      elsif value == '"optOut"'
                        raw '<td class="optOut">Opt-out</td>'
                      end
                  %>
                  <% end %>
              <% end %>
              </tr>
            </tbody>
          </table>
          </div>
        <% end %>
        <% if @app.privacy_url %>
        <p><a href="<%= @app.privacy_url %>" target="_blank">View Privacy Policy</a></p>
        <% end %>
      </section>
    <% end %>

    <% if @app.accessibility_url or @app.vpat_url %>
    <section>
      <h3>Accessibility Policy</h3>
      <% if @app.accessibility_url %>
        <p><a href="<%= @app.accessibility_url %>">View Accessibility Policy</a></p>
      <% end %>
      <% if @app.vpat_url %>
        <p><a href="<%= @app.vpat_url %>">View VPAT</a></p>
      <% end %>
    </section>
    <% end %>

      <% if session_user and session_user.admin %>
          <% if @app.created_by %>
              <div class="attribute">
                <h4>Submitter</h4>
                <p><%= user = User.find(@app.created_by); raw "#{user.first_name} #{user.last_name}<br><small>#{link_to user.email, "mailto:#{user.email}"}</small>" %></p>
              </div>
          <% end %>
          <% if @app.primary_contact_name %>
              <div class="attribute">
                <h4>Primary Contact</h4>
                <p>
                  <%= @app.primary_contact_name %>
                  <% if @app.primary_contact_email %>
                      <br><small><%= link_to @app.primary_contact_email, "mailto:#{@app.primary_contact_email}" %></small>
                  <% end %>
                  </div>
          <% end %>
      <% end %>


      <% if @app.app_authors.count > 0 %>
          <div class="attribute">
            <h4>Author<%= @app.app_authors.count > 1 ? 's' : '' %></h4>
            <p><%= raw @app.app_authors.map(){ |c|
                         name = c.name ? c.name : 'Anonymous'
                         c.email ? "<a href='mailto:#{c.email}'>#{name}</a>" : "<span class='text-muted'>#{name}</span>"
                       }.join(', ') %></p>
          </div>
      <% end %>


      <% if @app.app_organizations.count > 0 %>
          <div class="attribute">
            <h4>Organization<%= @app.app_organizations.count > 1 ? 's' : '' %></h4>
            <p><%= raw @app.app_organizations.map(){ |c|
                         name = c.name ? c.name : 'Anonymous'
                         c.website ? "<a href='#{c.website}' target='_blank'>#{name}</a>" : "<span class='text-muted'>#{name}</span>"
                       }.join(', ') %></p>
          </div>
      <% end %>

    <% if @app.lti %>
    <section>
      <h3>LTI Support</h3>
      <p><strong>Enabled:</strong> <%= @app.lti ? 'Yes' : 'No' %></p>

      <!--<%# if @app.lti_launch_url %>-->
        <!--<p><strong>Launch URL:</strong> <a href="<#%= @app.lti_launch_url %>"><%#= @app.lti_launch_url %></a></p>-->
      <!--<%# end %>-->
      <!--<%# if @app.lti_configuration_url %>-->
        <!--<p><strong>Configuration URL:</strong> <a href="<%#= @app.lti_configuration_url %>"><%#= @app.lti_configuration_url %></a></p>-->
      <!--<%# end %>-->
      <!--<%# if @app.lti_registration_url %>-->
        <!--<p><strong>Registration URL:</strong> <a href="<%#= @app.lti_registration_url %>"><%#= @app.lti_registration_url %></a></p>-->
      <!--<%# end %>-->
      <!--<p><strong>Outcomes:</strong> <%#= @app.lti_outcomes ? @app.lti_outcomes.capitalize : 'No' %></p>-->
    </section>
    <% end %>

    <% if @app.ios_app_id or @app.ios_app_scheme %>
    <section>
      <h3>iOS App</h3>
      <% if @app.ios_app_id %>
        <p><strong>App Store:</strong> <a href="https://itunes.apple.com/us/app/apple-store/id<%= @app.ios_app_id %>">https://itunes.apple.com/us/app/apple-store/id<%= @app.ios_app_id %></a></p>
      <% end %>
      <% if @app.ios_app_scheme %>
        <p><strong>Launch URL:</strong> <a href="<%= @app.ios_app_scheme %>://<%= @app.ios_app_path %>"><%= @app.ios_app_scheme %>://<%= @app.ios_app_path %></a></p>
      <% end %>
    </section>
    <% end %>

    <% if @app.android_app_package %>
    <section>
      <h3>Android App</h3>
      <p><strong>Play Store From Browser:</strong> <a href="http://play.google.com/store/apps/details?id=<%= @app.android_app_package %>">http://play.google.com/store/apps/details?id=<%= @app.android_app_package %></a></p>
      <p><strong>Play Store From App:</strong> <a href="market://details?id=<%= @app.android_app_package %>">market://details?id=<%= @app.android_app_package %></a></p>
      <p><strong>Launch Intent:</strong>
          <%
             android_intent = "intent://scan/#Intent"
             android_intent << ";scheme=#{@app.android_app_scheme}" if @app.android_app_scheme
             android_intent << ";package=#{@app.android_app_package}" if @app.android_app_package
             android_intent << ";package=#{@app.android_app_action}" if @app.android_app_action
             android_intent << ";package=#{@app.android_app_category}" if @app.android_app_category
             android_intent << ";package=#{@app.android_app_component}" if @app.android_app_component %>
        <a href="<%= android_intent %>"><%= android_intent %></a>
      </p>
    </section>
    <% end %>

   </div>

  </main>

</article>