<h1>Edit Site Settings</h1>

<%= form_for [:admin, @site], :html => { :role => 'form' } do |f| %>

  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited
        this category from being saved:</h2>
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <%= f.label :heading %>
    <%= f.text_area :heading, style: 'height: 10em;' %>
  </div>

  <div class="form-field">
    <%= f.label :homepage_categories, 'Categories on Homepage (one name per line)', data: { help: 'List categories, one per line, that, if they exist, will be shown on the homeage.' } %>
    <%= f.text_area :homepage_categories, style: 'height: 10em;' %>
  </div>

  <fieldset>

    <legend>Mobile</legend>

    <p>Settings specific to the mobile app at <%= link_to mobile_url, mobile_url, target: '_blank' %>:</p>

    <div class="form-field">
      <%= f.label :mobile_title, 'Title' %>
      <%= f.text_field :mobile_title %>
    </div>

    <div class="form-field">
      <%= f.label :mobile_heading, 'Heading' %>
      <%= f.text_area :mobile_heading, style: 'height: 10em;' %>
    </div>

    <div class="form-field">
      <%= f.label :mobile_appicon, 'Appicon' %>
      <%= f.text_field :mobile_appicon %>
    </div>

  </fieldset>

  <div class="form-field">
    <%= f.label :css, 'CSS' %>
    <%= f.text_area :css, style: 'height: 30em;' %>
  </div>

  <p class="text-center">
    <%= f.submit 'Save Settings' %>
  </p>

<% end %>
